body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ff {
  margin: 100px auto;
  width: 200px;
  text-align: center;
  height: 100px;
  line-height: 100px;
  border: 1px solid #CCC;
  border-radius: 2px;
}
.ff:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}
.invert {
  -webkit-filter: invert(100);
  filter: invert(100);
}
.hue-rotate {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}
.blur{
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.opacity{
  -webkit-opacity: 0.5;
  filter:alpha(opacity=50);
}

